.section {
  width: 100%;
  margin: 0;
  background-color: var(--background-dark);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 56px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-dark);
  position: relative;
}

.imageWrapper {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  height: 450px;
  z-index: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.mainInfo {
  padding-top: 100px;
  max-width: 796px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 150px;
}

.title {
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0%;
  font-family: var(--font-gt-eesti-pro-display-bold);
  margin: 0;
  color: var(--text-color-light);
  text-transform: uppercase;
}

.subBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subtitle {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  font-family: var(--font-gt-eesti-pro-display-regular);
  color: var(--text-color-light);
}

.button {
  background-color: rgba(249, 186, 80, 1);
  display: flex;
  align-items: center;
  gap: 54px;
  padding: 15px 40px;
  border-radius: 0px 40px 40px 0px;
  transition: all .3s ease;
}

.svg {
  width: 25px;
  height: 25px;
  object-fit: cover;
  object-position: center;
  transition: all .3s ease;
}

.text {
  font-size: 18px;
  font-family: var(--font-gt-eesti-pro-display-regular);
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
  color: var(--text-color-light);
}

.button:hover {
  transform: translateY(-5px);
}

.button:hover .svg {
  transform: translateX(5px);
}

@media screen and (max-width: 850px) {
  .title {
    font-size: 64px;
  }
}

@media screen and (max-width: 564px) {
  .imageWrapper {
    width: 300px;
    height: 300px;
  }

  .mainInfo {
    padding-top: 30px;
    gap: 30px;
  }

  .title {
    font-size: 44px;
  }

  .subBlock {
    flex-direction: column;
    gap: 60px;
  }
}